
@{
    ViewBag.Title = "Siparişlerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="">Adres:</td>
                        <td class="">Ödeme Tipi:</td>
                        <td class="">Sipariş Açıklaması:</td>
                        <td class="">Telefon Numarası:</td>
                        <td class="">Sipariş Tarihi:</td>
                        <td class="">Toplam Fiyat:</td>
                        <td class="">Durum:</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in @ViewBag.OrderList)
                    {
                        <tr>
                            <td class="glyphicon-hourglass">@item.Address</td>
                            <td>@item.PaymentTypeText</td>
                            <td>@item.Description</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.TranDate</td>
                            <td>@item.SubTotal</td>
                            <td>@item.OrderStatusText</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>