@model EShopper.Models.ProductModel


@{
    ViewBag.Title = "ÜRÜN KONTROL PANELİ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<label class="im-side-overlay" for="side-action-input"></label><!-- im-side-overlay -->
<div class="im-wrapper">
    <div class="container">
        <div class="table-title d-flex justify-content-between align-items-end pb-4">
            <div class="table-head">
                <h1>E-SHOPPER ÜRÜN LİSTESİ</h1>
                <p>KONTROL PANELİ</p>
            </div>
            <div class="button-actions">
                <button type="button" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span class="material-symbols-outlined me-2">
                        add
                    </span>
                    <span>Ekle</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold border-bottom-0">
                        <th class="text-start">FOTOĞRAF</th>
                        <th class="text-start">PERSONEL</th>
                        <th class="text-end">FİYAT</th>
                        <th class="text-end">STOK</th>
                        <th class="text-end">DÜZENLEME</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.ProductList)
                    {
                        <tr>
                            <td>
                                <img src="@item.ImagePath" alt="" width="100" height="100" />
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td class="text-end ">
                                <span class="fw-bold">@item.Price ₺</span>
                            </td>
                            <td class="text-end">
                                @item.Stock
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-container d-flex justify-content-between">
            <div class="col col-12 col-lg-5">
                <div class="entries d-flex align-items-center">
                    <span>Showing 1 to </span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>10</option>
                        <option value="1">25</option>
                        <option value="2">50</option>
                        <option value="3">100</option>
                    </select>
                    <span>of 50 entries</span>
                </div><!-- entries -->
            </div>
            <div class="col col-12 col-lg-7">
                <nav class="d-flex justify-content-end" aria-label="table navigation">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>