@{
    EShopper.Models.UsersModel UserModelData = null;
    if (@ViewBag.UserModelData != null)
    {
        UserModelData = (EShopper.Models.UsersModel)ViewBag.UserModel;
    }
    else
    {
        UserModelData = new EShopper.Models.UsersModel();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/price-range.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 850 0501 53 41</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> e.shopper@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href=@Url.Action("Index", "Home")><img src="~/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (@Session["userId"] != null)
                                {
                                    <li><a href=@Url.Action("Profile", "Account", new { userId = @Session["userId"] })><i class="fa fa-user"></i>Hesabım</a></li>
                                    <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                                    <li><a href=@Url.Action("Checkout", "Checkout")><i class="fa fa-crosshairs"></i> Ödeme/Adres Bilgileri</a></li>
                                    <li><a href=@Url.Action("GetProductToCart", "Cart")><i class="fa fa-shopping-cart"></i> Sepetim</a></li>
                                    <li><a href=@Url.Action("Logout", "Login") class="active"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
                                }
                                else
                                {
                                    <li><a href=@Url.Action("LoginProcess","Login") class="active"><i class="fa fa-lock"></i> Kaydol/Giriş Yap</a></li>

                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <!--<div class="header-bottom">-->
            <!--header-bottom-->
            <!--<div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href=@Url.Action("Index", "Home") class="active">AnaSayfa</a></li>
                                <li class="dropdown">
                                    <a href="#">Alışveriş<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Ürünler</a></li>
                                        <li><a href="product-details.html">Ürün Detayları</a></li>
                                        <li><a href="checkout.html">Ödeme/Adres Bilgileri</a></li>
                                        <li><a href="cart.html">Sepet</a></li>
                                        <li><a href="login.html">Giriş yap</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog Listesi</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="contact-us.html">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Arama Yap" />
                        </div>
                    </div>
                </div>
            </div>
        </div>--><!--/header-bottom-->
    </header><!--/header-->

    @RenderBody()
    

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>e</span>-shopper</h2>
                            <span>Güvenli Alışverişin Adresi</span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a target="_blank" href="https://www.youtube.com/c/infotechacademy">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe1.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>TARZ VE ŞIKLIK</p>
                                <h2>24 ARALIK 2021</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a target="_blank" href="https://www.youtube.com/c/infotechacademy">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe2.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>MODAYI YAKALA</p>
                                <h2>14 OCAK 2022</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a target="_blank" href="https://www.youtube.com/c/infotechacademy">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe3.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>ALIŞVERİŞTE ŞEFFAFLIK</p>
                                <h2>4 KASIM 2023</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a target="_blank" href="https://www.youtube.com/c/infotechacademy">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe4.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>ÖZEL GÜNLERDE YANINIZDA</p>
                                <h2>18 MART 2021</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="~/images/home/map.png" alt="" />
                            <span>DÜNYANIN HER NOKTASINDA HİZMETTE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hizmetlerimiz</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online İletişim</a></li>
                                <li><a href="#">Bizimle İletişime Geçin</a></li>
                                <li><a href="#">Sipariş İstatistikleri</a></li>
                                <li><a href="#">Mağazalarımız</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hızlı Alışveriş</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Erkek</a></li>
                                <li><a href="#">Kadın</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Ayakkabı</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Politikalarımız</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Misyonumuz</a></li>
                                <li><a href="#">Vizyonumuz</a></li>
                                <li><a href="#">Güvenceler</a></li>
                                <li><a href="#">Senetler</a></li>
                                <li><a href="#">Bilet Sistemi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Alışveriş Hakkında</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Şirket Bilglileri</a></li>
                                <li><a href="#">Kariyerler</a></li>
                                <li><a href="#">Mağaza Lokasyonları</a></li>
                                <li><a href="#">İndirim Günleri</a></li>
                                <li><a href="#">Telif Hakkı</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="https://www.youtube.com/c/infotechacademy">Sahip</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->



    

</body>
</html>




@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
