@model EShopper.Models.UsersModel

@{
    ViewBag.Title = "Hesabım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title text-center">Hesabı Güncelle</h2>

@using (Html.BeginForm("ProfileUpdate", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success" style="position:center">
            <span class="glyphicon glyphicon-ok"></span>
           @TempData["AlertMessage"] Hesap Bilgileri Başarılı Bir Şekilde Güncellendi!
        </div>
    }

    <div class="form-horizontal" style="margin-left:450px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Adı ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, "Soyadı ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Adres ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Şifre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, "Doğum Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" value="Hesap Bilgilerini Güncelle" class="btn btn-default" />*@
                <button type="submit" class="btn btn-default">Hesap Bilgilerini Güncelle</button>
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("HomePage", "Index", "Home")
    </div>*@
