@model EShopper.Models.UsersModel

@{
    ViewBag.Title = "Hesabım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title text-center">Hesabı Güncelle</h2>

@using (Html.BeginForm("ProfileUpdate", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success" style="width:550px; margin-left:510px;">
            <span class="glyphicon glyphicon-ok"></span>
            @TempData["AlertMessage"] Hesap Bilgileri Başarılı Bir Şekilde Güncellendi!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
    }

    <div class="form-horizontal" style="margin-left:450px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Address, " Adres : ")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Adres" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Email, " E-mail : ")
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Password, " Şifre : ")
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Hesap Bilgilerini Güncelle</button>
            </div>
        </div>
    </div>
}
