
@model EShopper.Models.UsersModel
@{
    ViewBag.Title = "Üye Ol Ve Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.UserId = Model.UserId;
}


<!--<section id="form">-->
<!--form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <!--login form-->
                @using (Html.BeginForm("LoginControl", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h2>Hesabınıza Giriş Yapınız</h2>
                    <form action="#">
                        <input type="email" placeholder="E-Mail Adresi" name="TxtEmail" />
                        <input type="password" placeholder="Şifre" name="TxtPassword" />
                        <button type="submit" class="btn btn-default">Giriş Yap</button>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="color:red">
                                @ViewBag.LErrorMessage

                            </div>
                        </div>
                    </form>
                }
            </div><!--/login form-->
        </div>
        <div class="col-sm-1">
            <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
            <div class="signup-form">
                <!--sign up form-->
                @using (Html.BeginForm("AddUser", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <h2>Yeni Kullanıcı Kayıt Formu!</h2>

                    @Html.ValidationMessage("Name", "Lütfen İsminizi Giriniz", "text-danger")

                    <input type="text" class="" placeholder="İsim*" name="TxtName" onblur="ValidControl(this);" required />

                    @Html.ValidationMessage("Surname", "Lütfen Soyisminizi Giriniz", "text-danger")

                    <input type="text" class="" placeholder="Soyisim*" name="TxtSurname" onblur="ValidControl(this);" required />

                    @Html.ValidationMessage("Email", "Lütfen E-Mail Adresinizi Giriniz", "text-danger")

                    <input type="email" placeholder="E-mail Adresi*" name="TxtEmail" onblur="ValidControl(this);" required />

                    @Html.ValidationMessage("Password", "Lütfen Şifrenizi Giriniz", "text-danger")

                    <input type="password" placeholder="Şifre*" name="TxtPassword" onblur="ValidControl(this);" required />

                    @Html.ValidationMessage("DateOfBirth", "Lütfen Doğum Tarihinizi Giriniz (+18)", "text-danger")

                    <input type="date" placeholder="Doğum Tarihi*" name="DtDateOfBirth" onblur="ValidControl(this);" required min="1963-01-01" max="2005-01-01" />

                    @Html.ValidationMessage("Address", "Lütfen Adresinizi Giriniz", "text-danger")

                    <input type="text" placeholder="Adres*" name="TxtAddress" onblur="ValidControl(this);" required />

                    @Html.ValidationMessage("Gender", "Lütfen Cinsiyetinizi Giriniz", "text-danger")

                    <select name="slGender" onchange="ValidControl(this);" required>

                        <option value="-1" selected>Seçiniz</option>
                        <option value="Man">Erkek*</option>
                        <option value="Woman">Kadın*</option>
                    </select>

                    <button style="margin-top:10px;" type="submit" class="btn btn-default">

                        Signup

                    </button>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="color:red">
                            @ViewBag.ErrorMessage
                            @ViewBag.SErrorMessage
                            @ViewBag.SuccessMessage

                        </div>
                    </div>
                }
            </div><!--/sign up form-->
        </div>
    </div>
</div>
<!--</section>--><!--/form-->
